{% extends 'base.html.twig' %}

{% block body %}
    <h1>Status</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ status.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ status.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('status_index') }}">Back to the list</a>
        </li>
        {% if(delete_form) %}
        <li>
            <a href="{{ path('status_edit', { 'id': status.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-default" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
